body {
    font-size: 62.5%;
    background-color: #111;
}

section {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    position: absolute;
    width: 30rem;
    height: 15rem;

    align-items: center;
    justify-content: center;

    padding: 4rem;

    border-radius: 2rem;
}

p {
    font-weight: 700;
    font-size: 5rem;
    color: white;
}

.fade-in {
    animation: fade-in 0.3s ease-in-out;
    opacity: 1;
}

.fade-out {
    animation: fade-out 0.3s ease-in-out;
    opacity: 0;
}

@keyframes fade-in {
    0% {
        transform: translateX(0);
        scale: 1;
        opacity: 0;
    }
    50% {
        transform: translateX(2rem);
        scale: 1.03;
    }
    100% {
        transform: translateX(0);
        scale: 1;
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        transform: translateX(0);
        scale: 1;
        opacity: 1;
    }
    100% {
        transform: translateX(-4rem);
        scale: 0.9;
        opacity: 0;
    }
}

